@charset "UTF-8";
/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

@media (max-width: 767px) {
  .pc-only {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .sp-only {
    display: none !important;
  }
}
body {
  font-family: "YuGothic", "Noto Sans JP", "Source Han Sans", "M+ FONTS";
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.8rem;
  letter-spacing: 0;
  color: #000000;
  line-height: 1.6666666667;
}
@media (max-width: 767px) {
  body {
    font-size: 1.6rem;
    line-height: 1.875;
  }
}

html {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  word-break: break-all;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  font-size: 10px;
}
@media (max-width: 940px) and (min-width: 768px) {
  html {
    font-size: 1.0638297872vw;
  }
}
@media (max-width: 767px) {
  html {
    scroll-padding-top: 50px;
    font-size: 2.6666666667vw;
  }
}

html,
body {
  overflow-x: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

a:hover {
  opacity: 0.7;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.inner {
  width: 88rem;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .inner {
    max-width: 767px;
    margin-inline: auto;
    margin: 0 auto;
  }
}

.l-header {
  width: 100%;
  height: 8rem;
  background: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .l-header {
    height: 5rem;
    padding-left: 2rem;
  }
}

.l-header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-header__title a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-header__logo {
  width: 3.203rem;
}
@media (max-width: 767px) {
  .l-header__logo {
    width: 2.03rem;
  }
}

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  width: 72px;
  height: 50px;
  background-color: #CB0000;
  cursor: pointer;
  z-index: 9999;
}

.hamburger span {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 32px;
  height: 4px;
  border-radius: 2px;
  background-color: #FFFFFF;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.hamburger span:nth-of-type(1) {
  top: 9.5px;
}

.hamburger span:nth-of-type(2) {
  top: 23px;
}

.hamburger span:nth-of-type(3) {
  top: 36.5px;
}

.l-header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-header__name {
  margin-top: 1.8rem;
  margin-bottom: 1.4rem;
}
@media (max-width: 767px) {
  .l-header__name {
    margin-top: 0.989rem;
    margin-bottom: 0.882rem;
  }
}

.l-header__name-main {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.15;
}
@media (max-width: 767px) {
  .l-header__name-main {
    font-size: 1.3rem;
    line-height: 1.0769230769;
  }
}

.l-header__name-sub {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5333333333;
}
@media (max-width: 767px) {
  .l-header__name-sub {
    font-size: 1.3rem;
    line-height: 1.0769230769;
  }
}

.l-header__right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.65rem;
     -moz-column-gap: 1.65rem;
          column-gap: 1.65rem;
}

.l-header-nav li a {
  padding: 1.65rem;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 1.3529411765;
}

.l-header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15rem;
  height: 4.5rem;
  background: #CB0000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5333333333;
  color: #FFFFFF;
}

.l-footer {
  background: #CB0000;
  width: 100%;
  padding-top: 4.4rem;
  padding-bottom: 4.956rem;
}
.l-footer .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.9411764706;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3.2rem;
     -moz-column-gap: 3.2rem;
          column-gap: 3.2rem;
}

.l-footer__logo {
  width: 3.203rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.174rem;
}

.l-footer__copyright {
  font-size: 1.5rem;
  line-height: 2.2;
  color: #FFFFFF;
  margin-top: 2.3rem;
}

.l-footer-sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.23rem;
     -moz-column-gap: 1.23rem;
          column-gap: 1.23rem;
}

.p-fv {
  position: relative;
}
.p-fv::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.502);
  z-index: 1;
}

.p-fv__catch {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .p-fv__catch {
    width: 30rem;
    font-size: 3rem;
    line-height: 1.6666666667;
  }
}

.p-top__concept {
  padding-top: 6.6rem;
  padding-bottom: 5.5rem;
}

.p-concept__plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.4285714286;
  color: #CB0000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .p-concept__plan {
    font-size: 2.5rem;
    line-height: 1.6;
  }
}

.p-concept__sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8rem;
  line-height: 1.6666666667;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.7rem;
}

.p-concept__semicircle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3.4rem auto 0;
  width: 85.815rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-concept-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3rem;
     -moz-column-gap: 3rem;
          column-gap: 3rem;
}

.p-concept-item__pri {
  width: 46.2%;
  text-align: right;
}

.p-concept-item__sec {
  width: 46.2%;
}

.p-concept-item__circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #CB0000;
  position: relative;
  z-index: 2;
  margin: 0 auto;
}

.p-concept__items {
  position: relative;
}

.p-concept__items::before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -3.888rem;
  bottom: 1rem;
  width: 3px;
  background: #CB0000;
  z-index: 0;
}

.arrow-left,
.arrow-right {
  position: absolute;
  left: 50%;
  top: -3.4rem; /* ← 縦棒より“少し上” */
  width: 2rem;
  height: 3px;
  background: #CB0000;
}

.arrow-left {
  -webkit-transform: translateX(-80%) rotate(-47deg);
          transform: translateX(-80%) rotate(-47deg);
}

.arrow-right {
  -webkit-transform: translateX(-20%) rotate(47deg);
          transform: translateX(-20%) rotate(47deg);
}

.p-message {
  background: #CB0000;
  padding-top: 6.8rem;
  padding-bottom: 6rem;
}

.p-message__title, .p-message__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.p-message__title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.6666666667;
}
.p-message__subtitle {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.6666666667;
  margin-top: 3rem;
}

.p-reason-title {
  padding-top: 6.4rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.6666666667;
  text-align: center;
}

.p-reason__example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5rem;
     -moz-column-gap: 5rem;
          column-gap: 5rem;
  position: relative;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.p-reason-example-one {
  width: 100%;
  max-width: 35rem;
  margin-top: 2.8rem;
}

.p-reason-lesson {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 3.5rem;
}
.p-reason-lesson::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 74%;
  width: 53.2rem;
  height: 0.2rem;
  background-color: #CB0000;
  left: 70%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.p-reason__com {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.8333333333;
  margin-top: 3.7rem;
}/*# sourceMappingURL=style.css.map */