@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.c-breadcrumbs {
  height: 5rem;
  background: rgba(232, 232, 232, 1);
  overflow-x: auto;

  @include sp {
    height: 3.6rem;
  }
}

.c-breadcrumbs__inner {
  height: 100%;
  display: flex;
  align-items: center;

}


.c-blog-detail__inner {
  height: 100%;
  display: flex;
  align-items: center;

  // @include sp {
  //   padding-bottom: 1rem;
  // }
}



// .c-breadcrumbs ol {
//   display: flex;
//   flex-wrap: wrap;
//   height: 100%;
//   align-items: center;
//   color: rgba(0, 0, 0, 1);
// }

.c-breadcrumbs__list {
  display: flex;
  height: 100%;
  flex-wrap: nowrap;
  white-space: nowrap;
  align-items: center;
  gap: 1.8rem;
  // line-height: 0.5;
  color: rgba(0, 0, 0, 1);

  // @include sp {
  // }
}


// .c-blog-detail-list {
//   @include sp {
//     margin-top: 0.8rem;
//   }
// }


.c-breadcrumbs__list li {
  flex: 0 0 auto; // ← ★これが重要（縮まない）

  position: relative;
  padding-right: 3.2rem; //>の余白//
}

.c-breadcrumbs__list li a {
  height: 5rem;
  display: flex;
  align-items: center;

  @include sp {
    height: 3.6rem;
  }
}





.c-breadcrumbs__list span {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: calc(33 / 16);
}

// .c-breadcrumbs__list li+li::before {
//   content: ">";
//   margin: 0 8px;
//   color: rgba(0, 0, 0, 1);
// }
.c-breadcrumbs__list li::after {

  content: ">";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
}

/* 最後は消す */
.c-breadcrumbs__list li:last-child::after {
  content: none;
}


// .c-breadcrumbs__list {
//   display: flex;
//   flex-wrap: wrap;
// }
// .page-single-blog {
//   @include sp {
//     .c-breadcrumbs__list li:last-child {
//       width: 100%;
//     }

// }