@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.c-breadcrumbs {
  height: 5rem;
background: rgba(232, 232, 232, 1);

}

.c-breadcrumbs ol {
    display: flex;
    height: 100%;
    align-items: center;
    color: #000;
  }
