@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.c-breadcrumbs {
  height: 5rem;
  background: rgba(232, 232, 232, 1);

}

.c-breadcrumbs ol {
  display: flex;
  height: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 1);
}

.c-breadcrumbs__list {
  display: flex;
  align-items: center;
}

.c-breadcrumbs__list li+li::before {
  content: ">";
  margin: 0 8px;
  color: rgba(0, 0, 0, 1);
}

