@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.c-contact-btn {
  display: flex;
  width: 15rem;
  height: 4.5rem;
  background: #CB0000;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: calc(23 / 15);
  color: #FFFFFF;
  transition: 0.3s;


  &--fixed {
    width: 30rem;
    height: 6rem;
    font-size: 2rem;
    letter-spacing: 0.2em;
    @include sp {
      width: 33.5rem;
    }
  }

  &:hover {
    background-color: #fff;
    color: #CB0000;
    border: 1px solid #CB0000;

  }
}

.c-top-btn {
  width: 6.8rem;
  height: 6.8rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: grid;
  place-content: center;
  // row-gap: 3rem;
  // align-items: center;

  opacity: 1;
  transition: opacity 0.3s ease;

@include sp {
  align-self: flex-end;
  // margin-right: 2rem; // 必要なら余白調整
}

  &__arrow {
    width: 2.4rem;

  }

}

.c-send-submit {
  width: 25rem;
  height: 5rem;
  background: #CB0000;
  color: #FFFFFF;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  @include sp {
    width: 33.5rem;
  }

    &:hover {
    background-color: #fff;
    color: #CB0000;
    border: 1px solid #CB0000;

  }
}

.c-send-button {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: calc(33 / 25);
  
  @include sp {
    font-size: 2rem;
    line-height: calc(26 / 20);
  
  }

}
.c-send-button {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: calc(33 / 25);
  
  @include sp {
    font-size: 2rem;
    line-height: calc(26 / 20);
  
  }

}


