@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.c-circle {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: rgba(0, 0, 0, 1);
}

.c-red-circle {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: rgba(203, 0, 0, 1);
}