@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.c-circle {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: rgba(0, 0, 0, 1);

  &--red {
    background: #CB0000;
  }
}

.c-hyphen {
  display: inline-block;
  width: 3rem;
  height: 0.1rem;
  background-color: rgba(112, 112, 112, 1);
}