@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.p-blog-list__items {
  display: flex;
  flex-direction: column;
  margin-top: 4.7rem;
  gap: 7rem;

  @include sp {
    margin-top: 4.2rem;
    row-gap: 3.5rem;
  }
}

.p-blog-list {
  padding-top: 7rem;
  padding-bottom: 21rem;

  @include sp {
    padding-top: 5.5rem;
    padding-bottom: 20.5rem;

  }

  &__body {
    margin-left: 5rem;
    align-items: center;
    justify-content: center;
    flex: 1;

    @include sp {
      margin-left: 0;
      padding-top: 3rem;
    }
  }


  &__item {
    display: flex;
    // row-gap: 7rem;


    @include sp {
      flex-direction: column;
      // row-gap: 3.9rem;

    }
  }

  &__image {
    // flex: 0 0 29.5%;
    width: 26rem;
    aspect-ratio: 260 / 184;
    overflow: hidden;

    @include sp {
      width: 33.5rem;
      aspect-ratio: 335 / 200;
      margin-top: 0;
    }

    img {
      width: 100%;
      height: auto;
      display: block;

      picture {
        display: block;
      }
    }
  }



  &__title {
    font-size: 2rem;
    font-weight: 700;
    line-height: calc(25 / 20);

    @include sp {
      margin-left: 0;
    }
  }

  &__date {
    font-size: 1.7rem;
    font-weight: 500;
    line-height: calc(30 / 17);
    // margin-left: 5rem;
    margin-top: 0.3rem;

    @include sp {
      margin-left: 0;
      display: block;
      text-align: right;
      margin-top: 1.5rem;
    }
  }

  &__text {
    margin-top: 1.1rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: calc(30 / 16);


    @include sp {
      font-size: 1.6rem;
      line-height: calc(30 / 16);

    }
  }
}


.p-top-blog-photo {
  position: relative;
}

.p-photo-pop {
  position: absolute;
  top: 0;
  left: 0;
  width: 8rem;
  height: 3rem;
  background: #CB0000;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: calc(25 / 15);
  text-align: center;

  @include sp {
    width: 9rem;
  }
}

.p-pagination__list {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  justify-content: center;
  align-items: center;

  @include sp {
    gap: 0.5rem;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border: 1px solid #333;
    text-decoration: none;
    color: #333;

    @include sp {
      width: 4.4rem;
      height: 4.4rem;
    }


    &:hover {
      background: #333;
      color: #fff;
    }

  }
}

.p-pagination {
  margin-top: 7.5rem;
  // margin-bottom: 21rem;

  @include sp {
    margin-top: 5.9rem;
    // margin-bottom: 14.3rem;
  }
}


/* 現在のページ */
.p-pagination__list .is-active {
  background: #333;
  color: #fff;
}