@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.p-contact-form__input input[type="text"],
.p-contact-form__input input[type="email"],
.p-contact-form__input input[type="tel"],
.p-contact-form__textarea textarea {
  padding: 1rem;
  border: 1px solid #ccc;
  background: #fff;
  height: 4rem;
  width: 71rem;
  color: #B2B2B2;

  @include sp {
    padding: 1.2rem 2rem;
    width: 33.5rem;
  }
}

.p-contact-form__textarea textarea {
  // height: 150px;
  resize: vertical;
  height: 30rem;

  @include sp {
    width: 33.5rem;
    height: 19rem;
  }
}

input[type="checkbox"] {
  appearance: auto;
  border-radius: 0;
}

.p-contact-form {
  margin-top: 6.8rem;

  &__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;

    line-height: calc(30 / 18);

    @include sp {
      font-size: 1.6rem;
      text-align: left;
    }
  }



  &__items {
    display: flex;
    flex-direction: column;
    margin-top: 6.5rem;
    row-gap: 3rem;

    @include sp {
      margin-top: 3.2rem;
    }
  }

  &__item {
    display: flex;
    column-gap: 2.9rem;

    @include sp {
      display: block;
    }
  }

  &__label {
    width: 14rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: calc(33 / 20);

    @include sp {
      font-size: 1.6rem;
      line-height: calc(33 / 16);
      margin-top: 1.4rem;

    }
  }

  &__input {
    display: flex;

    @include sp {
      display: block;
      margin-top: 0.2rem;
    }
  }
}

.form-checkbox {
  display: flex;
  flex-direction: column;
}

.form-checkbox label {
  display: flex;
  column-gap: 2rem;
}

.p-contact-form__submit {
  width: 25rem;
  height: 5rem;
  background: #CB0000;
  color: #FFFFFF;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 10rem;

  @include sp {
    width: 33.5rem;
  }
}

input::placeholder,
textarea::placeholder {
  color: #B2B2B2;
  opacity: 1;
}




