@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.p-contact-form__input input[type="text"],
.p-contact-form__input input[type="email"],
.p-contact-form__input input[type="tel"],
.p-contact-form__textarea textarea {
  padding: 1rem;
  border: 1px solid #ccc;
  background: #fff;
  height: 4rem;
  width: 71rem;
  color: #B2B2B2;

  @include sp {
    padding: 1.2rem 2rem;
    width: 33.5rem;
  }
}

.p-contact-form__textarea textarea {
  // height: 150px;
  resize: vertical;
  height: 30rem;

  @include sp {
    width: 33.5rem;
    height: 19rem;
  }
}

.form-checkbox {
  row-gap: 0.9rem;
}

input[type="checkbox"] {
  appearance: none;
  width: 2rem;
  height: 2rem;
  border: 0.05rem solid rgba(0, 0, 0, 1);
  border-radius: 0;
}


// input[type="checkbox"] {
//   appearance: auto;
//   border-radius: 0;
//   transform: scale(1.25);
//    margin-right: 0.6rem;
// }

.p-contact-form {
  padding-top: 6.8rem;
  padding-bottom: 10rem;

  @include sp {
    padding-top: 4.7rem;
    padding-bottom: 10.8rem;
  }
  
  &__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: calc(30 / 18);

    @include sp {
      font-size: 1.6rem;
      line-height: calc(30 / 16);
      text-align: left;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    margin-top: 6.5rem;
    row-gap: 3rem;

    @include sp {
      margin-top: 1.8rem;
      row-gap: 0;
    }
  }

  &__item {
    display: flex;
    // column-gap: 2.9rem;

    @include sp {
      display: block;
    }
  }

  &__label {
    width: 16.9rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: calc(33 / 20);

    @include sp {
      font-size: 1.6rem;
      line-height: calc(33 / 16);
      margin-top: 1.4rem;

    }
  }

  &-lable {
    width: 33.5rem;
  }

  &__input {
    display: flex;

    @include sp {
      display: block;
      margin-top: 0.1rem;
    }
  }

  &-content {
    @include sp {
      margin-top: 0.4rem;
    }
  }
}



.form-checkbox {
  display: flex;
  flex-direction: column;
}

.form-checkbox label {
  display: flex;
  column-gap: 2rem;

  @include sp {
    column-gap: 1rem;
  }
}

// .form-detail {
//   column-gap: 2.9rem;
// }

.p-contact-form__textarea {
  font-size: 1.5rem;
  line-height: calc(33 / 15);

  @include sp {
    margin-top: 0.4rem;
    line-height: calc(25 / 15);

  }

}

.p-contact-form__submit {
  width: 25rem;
  height: 5rem;
  background: #CB0000;
  color: #FFFFFF;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  margin-top: 1.7rem;
  // margin-bottom: 10rem;

  @include sp {
    width: 33.5rem;
    margin-top: 5rem;
  }
}

.p-contact-form__button {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: calc(33 / 25);

  @include sp {
    font-size: 2rem;
    line-height: calc(26 / 20);
  }

}

input::placeholder,
textarea::placeholder {
  color: #B2B2B2;
  opacity: 1;
}