@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.p-contact-send {
  padding-top: 6.7rem;
  padding-bottom: 9rem;

  @include sp {
    padding-top: 4.7rem;
    padding-bottom: 5rem;
  }
  &__text {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: calc(30 / 18);
    text-align: center;
  
    @include sp {
      text-align: left;
      font-size: 1.6rem;
      line-height: calc(30 / 16);
    }
  }

  &__submit {
    margin-top: 4rem;
  }
}


