@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.p-result {
  padding-top: 7.5rem;
  padding-bottom: 20.5rem;

  @include sp {
    padding-top: 4.6rem;
  }
}

// .p-result-fv.p-plan-fv::before {
//   content: none;
// }
// .p-plan-fv::before {
//   background: #fff;
//   opacity: 0.3;
// }

// .p-result-fv::before {
//   content: "";
//   position: absolute;
//   inset: 0;
//   background: #fff;
//   opacity: 0.3;
//   z-index: 1;
// }

.p-result-fv__image {

  // margin-top: 4rem;
  @include sp {
    width: 37.5rem;
    aspect-ratio: 375 / 300;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
}

.p-result-fv__image {
  position: relative;


  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.3);
    mix-blend-mode: multiply;
    pointer-events: none;
  }
  }


.p-result-fv-catch {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 5;
  color: #fff;
  text-align: center;


  font-size: 2.5rem;
  font-weight: 700;
  line-height: calc(60 / 25);
}


.p-result__contents {
  display: flex;
  flex-direction: column;
  // row-gap: 2.8rem;
  margin-top: 4rem;
}

// .p-result-items {
//   display: flex;
//   justify-content: space-between;
//   column-gap: 10.6rem;
//   justify-content: center;
//   align-items: center;

//   @include sp {
//     flex-direction: column;
//   }
// }
.p-result__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10.6rem;
  row-gap: 7rem;

  @include sp {
    grid-template-columns: 1fr;
    row-gap: 4rem;
  }
}

.p-result-date {
  display: block;
}

.p-result__image {
  width: 38.7rem;
  position: relative;
  aspect-ratio: 387 / 273;
  overflow: hidden;
  // margin-top: 4rem;

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;

  }

  @include sp {
    width: 33.5rem;
    aspect-ratio: 335 / 200;

  }
}

.p-result-pop {
  width: 10rem;

  @include sp {
    width: 8rem;
  }

}

.p-result__text {
  font-size: 2rem;
  line-height: calc(25 / 20);
  font-weight: 700;
  margin-top: 2rem;
}

.p-result-date {
  text-align: right;
  font-size: 1.8rem;
  line-height: calc(32 / 18);
  font-weight: 500;
  margin-top: 1rem;
  margin-left: auto;
}

.p-pagination-result {
  margin-top: 6.8rem;

  position: relative;
  z-index: 999;
}