@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.p-search {
  padding-top: 6.6rem;
  padding-bottom: 21rem;

  @include sp {
    padding-top: 3.6rem;
  }
}

.p-search-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 5rem;
  
  @include sp {
    column-gap: 5rem;
    font-size: 1.8rem;
    line-height: calc(30 / 18);
  }
  .p-search-textword {
    flex: 1;
    min-width: 0; // 長文時の折り返しを許可
    word-break: break-word; // 長すぎる語を改行
  }

  .p-search-count {
    white-space: nowrap; // 「28件」が折り返されずに固定される
  }
}

.p-search-items {
  margin-top: 4.2rem;
  row-gap: 7rem;
  @include sp {
    row-gap: 4.2rem;
 
  }
}
.p-search-list-title {
    line-height: calc(30 / 20);
@include sp {
  line-height: calc(30 / 20);
}
}

.p-search-text {
  line-height: calc(30 / 18);
  display: -webkit-box;
  -webkit-line-clamp: 3; /* ★ 3行に制限 */
  -webkit-box-orient: vertical;
  overflow: hidden;

  @include sp {
    line-height: calc(30 / 16);
    margin-top: 0.8rem;
  }
}
picture {
    display: block;   /* ← これが正しい */
  }


@include sp {
  .p-search-text p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 5; // SPは2行
  }
}

.p-pagination-search {
  margin-top: 0;
  @include sp {
    margin-top: 1.6rem;
  }
}
