@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.p-top-question-room {
  padding-top: 10.722rem;
}
.p-top-qustion__containar {
  margin-top: 3.6rem;
}

.p-top-question__items {
  width: 100%;
  display: block;
}
.p-top-question-qu {
   padding: 2rem 0;
 
}
.p-top-question-qu-text {
  position: relative;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: calc(30 / 17);
  padding-left: 5rem; // ← Qアイコン分の余白を作る


  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 3.5rem;
    height: 3.5rem;
    background: url(../images/kuro-q.svg) no-repeat center / contain;
  }
  
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 10px;
    height: 10px;
    border-right: 0.1rem solid rgba(0, 0, 0, 1);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 1);
    transform: rotate(45deg); // これで「＞」になる
    transition: transform 0.3s ease;
    text-align: right;
  }

}
.p-top-question-ans {
  position: relative;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: calc(30 / 17);
  padding-left: 5rem; // ← Qアイコン分の余白を作る

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 3.5rem;
    height: 3.5rem;
    background: url(../images/red-a.svg) no-repeat center / contain;
  }
}


.p-top-question-item__answer {

  display: none;
  background: rgba(203, 0, 0, 0.1);
  border-bottom: 0.01rem solid rgba(0, 0, 0, 1);
  padding: 2rem 0;
}

/* 開いたとき矢印を回転 */
.p-top-question-item.is-open 
.p-top-question-qu-text::after {
  transform: rotate(225deg);
}

.p-top-question-item-red {
  background: rgba(203, 0, 0, 9.8%);
}

.p-top-question-ans {
  color: rgba(203, 0, 0, 1);

}
