@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.p-top-voice__room {
  background: #CB0000;
  padding-top: 4.4rem;
  padding-bottom: 8rem;
}

.p-top-voice-title {
  font-size: 3rem;
  font-weight: 700;
  line-height: calc(50 / 30);
  color: #FFFFFF;
  text-align: center;
}

// .p-top-voice__items {
//   display: flex;
//   column-gap: 3.5rem;
// }
.p-top-voice-item {
  margin-top: 3.6rem;
}
.p-top-voice-name {
  margin-top: 1.7rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: calc(33 / 22);
  color: #FFFFFF;

}
.p-top-voice-results {
  margin-top: 1rem;
    font-size: 1.8rem;
  font-weight: 500;
  line-height: calc(30 / 18);
  color: #FFFFFF;

}








