@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.p-top-concept {
  padding-top: 6.6rem;
  padding-bottom: 5.5rem;

  @include sp {
    padding-top: 4.6rem;
    padding-bottom: 3.5rem;

  }
}

.p-concept__plan {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: calc(50 / 35);
  color: #CB0000;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  @include sp {
    font-size: 2.5rem;
    line-height: calc(40 / 25);
  }
}

.p-concept__sub {
  display: flex;
  font-size: 1.8rem;
  line-height: calc(30 / 18);
  justify-content: center;
  align-items: center;
  margin-top: 1.7rem;

  @include sp {
    margin-top: 0.7rem;
  }
}


.p-concept__semicircle {
  display: flex;
  margin: 3.4rem auto 0;
  width: 85.815rem;
  justify-content: center;
  align-items: center;

  @include sp {
    width: 33.5rem;
    margin-top: 2rem;
  }
}


.p-concept__items {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 1.8rem;
  margin-top: 2rem;

  @include sp {
    margin-top: 3.3rem;
  }

}

// .p-concept__items::before {
//   content: "";
//   position: absolute;
//   left: 50%;
//   transform: translateX(-50%);

//   top: -3.888rem;
//   bottom: 2.5rem;
//   width: 3px;
//   background: #CB0000;
//   z-index: 0;
// }



.p-concept-item {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
}


.p-concept-item__pri {
  width: 46.2%;
  text-align: right;
  // margin-bottom: 1.7rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: calc(50 / 25);
  color: #CB0000;

  @include sp {
    font-size: 2rem;
    line-height: calc(50 / 20);
  }
}


.p-concept-item__sec {
  width: 46.2%;
  // margin-bottom: 1.7rem;
  font-size: 2.3rem;
  font-weight: 500;
  line-height: calc(50 / 23);

  @include sp {
    font-size: 2rem;
    line-height: calc(50 / 20);
  }


}

.p-concept-item__circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #CB0000;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  // margin-bottom: 1.7rem;
  @include sp {
    width: 2.3rem;
  }

  span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    // top: -3.888rem;
    bottom: 1rem;
    width: 0.3rem;
    height: 18.5rem;
    background: #CB0000;

    &::before,
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: -0.2rem;
      // left: 0;
      width: 2.3rem;
      height: 0.3rem;
      background: #CB0000;
      // background: #000;
    }
    
    &::before {
      left: 0.15rem;
      transform: rotate(45deg);
      transform-origin: left top;
      border-radius: 0 0.15rem 0.15rem 0;


    }

    &::after {
      // background: #ff6;
      right: 0.15rem;
      transform: rotate(-45deg);
      transform-origin: right top;
      border-radius: 0.15rem 0 0 0.15rem;
    }

  }

}




// .p-concept-item:not(:last-child) .p-concept-item__circle::after {
//   content: "";
//   position: absolute;
//   left: 50%;
//   transform: translateX(-50%);

//   bottom: 100%;
//   height: 18.88rem;
//   // height: calc(100% + 1.5rem); 
//   width: 3px;
//   background: #cb0000;
// }


.p-concept__arrow {
  position: absolute;
  left: 50%;
  top: -4rem;
  transform: translateX(-50%);
  width: 0;
  z-index: 1;
}