@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.p-top-blog {
  padding-top: 6.8rem;
  padding-bottom: 20.5rem;

  @include sp {
    padding-top: 4.3rem;
    padding-bottom: 19rem;
  }
}

.p-top-blog-items {
  // display: flex;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
  column-gap: 5rem;
  margin-top: 3.6rem;

  @include sp {
    display: block;
    margin-top: 3rem;
  }
}

.p-top-blog-item:hover {
  opacity: 0.6;
  transition: transform 0.3s ease;
}



.p-top-blog-photo {
  position: relative;

  // aspect-ratio: 4 / 3;  // デザインに合わせる
  // overflow: hidden;
  @include sp {
    margin-top: 3.9rem;
  }
}


.p-top-blog-introd {
  margin-top: 1rem;

  @include sp {
    margin-top: 2rem;
  }
}

.c-photo-pop {
  position: absolute;
  top: 0;
  left: 0;
  width: 8rem;
  height: 3rem;
  background: #CB0000;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: calc(25 / 15);
  text-align: center;
  display: flex;
  justify-content: center;
  /* 横方向中央 */
  align-items: center;
  /* 縦方向中央 */


  @include sp {
    width: 9rem;
  }
}


.p-top-blog-subtitle {
  font-size: 2rem;
  font-weight: 700;
  line-height: calc(25 / 20);

  @include sp {
    font-size: 2rem;
    line-height: calc(30 / 20);
  }
}

.p-top-blog-time {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: calc(30 / 17);
  text-align: right;
  margin-top: 0.8rem;

  @include sp {
    margin-top: 0.8rem;
  }
}

.p-top-blog-link {
  text-align: right;

  @include sp {
    text-align: center;
  }
}

.p-top-blog-word {
  // display: inline-block;
  margin-top: 4rem;
  border-bottom: 0.01rem solid rgba(0, 0, 0, 1);
  color: rgba(0, 0, 0, 1);
  padding-bottom: 0;
}

.p-top-blog-circle {
  width: 6.8rem;
  height: 100%;
  text-align: right;
  // display: flex;
  // justify-content: flex-end;
}