@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.p-top-voice {
  background: #CB0000;

}

.p-top-voice__room {
  padding-top: 4.4rem;
  padding-bottom: 8rem;

  @include sp {
    padding-top: 4.6rem;
    padding-bottom: 5rem;

  }
}

.p-top-voice-title {
  font-size: 3rem;
  font-weight: 700;
  line-height: calc(50 / 30);
  color: #FFFFFF;
  text-align: center;

  @include sp {
    font-size: 2.5rem;
    line-height: calc(40 / 25);

  }
}

// .p-top-voice__items {
//   display: flex;
//   column-gap: 3.5rem;
// }

.p-top-voice__items {
  position: relative;
  overflow: hidden;
}
.p-top-voice-item__image{
  width: 33.5rem;
  aspect-ratio: 335 / 200;
  overflow: hidden;

}


.p-top-voice-item__image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: transform 0.3s ease;
}
/* 画像はズーム */
.p-top-voice-item:hover .p-top-voice-item__image:hover img {
  transform: scale(1.1); // ← 1.1倍
}
/* テキストは少し透過 */
.p-top-voice-item:hover .p-top-voice-item__text,
.p-top-voice-item:hover .p-top-voice-name {
  opacity: 0.6;
}
.p-top-voice-item__image img,
.p-top-voice-item__text,
.p-top-voice-name {
  transition: 0.3s ease;
}


.p-top-voice-item {
  margin-top: 3.6rem;
    @include sp {
    margin-top: 3.9rem;
  }

}

.p-top-voice-name {
  margin-top: 1rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: calc(33 / 22);
  color: #FFFFFF;
  text-align: center;

  @include sp {
    margin-top: 2.7rem;
  }
}

.p-top-voice-item__text {
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: calc(30 / 18);
  color: #FFFFFF;
}

.p-top-voice-results {
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: calc(30 / 18);
  color: #FFFFFF;

}


/* スライダーの親 */
.p-top-voice__slider {
  position: relative;
}

// これが本体の原因修正 
// .p-top-voice__items.swiper {
//   overflow: visible;
// }

/* 矢印の共通 */
// .voice-button-prev,
// .voice-button-next {
//   width: 48px;
//   height: 48px;
//   z-index: 10;
// }

/* 左 */
.voice-button-prev {
  left: -45px;

  @include sp {
    left: -0.1rem;
  }
}

/* 右 */
.voice-button-next {
  right: -45px;

  @include sp {
    right: -0.1rem;
  }
}

/* 中央配置 */
.voice-button-prev,
.voice-button-next {
  top: 53%;
  transform: translateY(-50%);

  @include sp {
    top: 60%;
    transform: translateY(-50%);

  }
}


/* スライダーの外枠だけはみ出し許可 */
.p-top-voice__slider {
  position: relative;
  overflow: visible;
}

/* swiper本体は隠す（重要） */
.p-top-voice__items {
  overflow: hidden;
}

/* デフォルト矢印を消す */
.swiper-button-prev::after,
.swiper-button-next::after {
  content: none;
}


/* 共通 */
.voice-button-prev,
.voice-button-next {
  position: absolute;
  width: 2.984rem;
  height: 2.024rem;
  z-index: 10;
}



右矢印 .voice-button-next {
  position: absolute;
  top: 75%;
  right: -60px;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
}

左矢印 .voice-button-prev {
  position: absolute;
  top: 50%;
  left: -60px;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
}



// .voice-button-next::before {
//   content: "";  
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   width: 30px;
//   height: 30px;
//   border-top: 7px solid rgba(255, 255, 255, 0.5);
//   border-right: 7px solid rgba(255, 255, 255, 0.5);
//   transform: translate(-50%, -50%) rotate(45deg);
//   border-radius: 0.35rem 0.35rem 0.35rem 0.35rem;

// }



// .voice-button-prev::after {
//   content: "";
//   position: absolute;
//   top: 3%;
//   right: 50%;
//   width: 30px;
//   height: 30px;
//   border-top: 7px solid rgba(255, 255, 255, 0.5);
//   border-right: 7px solid rgba(255, 255, 255, 0.5);
//   transform: translate(50%, 50%) rotate(225deg);
//   border-radius: 0.35rem 0.35rem 0.35rem 0.35rem;
// }






/* ===== 左矢印 ===== */
// .voice-button-prev::before,
//  .voice-button-prev::after {
//   content: "";
//   position: absolute;
//   width: 3rem;
//   height: 0.7rem;
//   background: rgba(255, 255, 255, 0.5);
//   right: 0;
// }

/* 上 */
// .voice-button-prev::before {
//   transform: rotate(-35deg);
//   border-radius: 0.35rem 0.35rem 0.35rem 0.35rem;
//   top: 1rem;
// }

/* 下 */
// .voice-button-prev::after {
//   transform: rotate(35deg);
//   border-radius: 0.35rem 0.35rem 0.35rem 0.35rem;
//   top: 2.4rem;
//  }