@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.p-top-message {
  background: #CB0000;
  padding-top: 6.8rem;
  padding-bottom: 6rem;

  @include sp {
    padding-top: 4.9rem;
    padding-bottom: 4rem;

  }
}

.p-top-message {

  &__title,
  &__subtitle {
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__title {
    font-size: 3rem;
    font-weight: 700;
    line-height: calc(50 / 30);

    @include sp {
      font-size: 2.5rem;
      line-height: calc(40 / 25);

    }
  }

  &__subtitle {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: calc(30 / 18);
    margin-top: 3rem;

    @include sp {
      font-size: 1.8rem;
      line-height: calc(30 / 18);
      margin-top: 1.4rem;
    }
  }
}