@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.p-top-question {
  padding-top: 11.5rem;

  @include sp {
    padding-top: 5.5rem;
  }
}

.p-top-question__container {
  margin-top: 3.6rem;

  @include sp {
    row-gap: 2.2rem;
    display: flex;
    flex-direction: column;
  }
}


.p-top-question__items {
  width: 100%;
  display: block;
  border-top: 0.01rem solid rgba(0, 0, 0, 1);
  margin-top: 3.7rem;
}

.p-top-question-item {
  border-bottom: 0.01rem solid rgba(0, 0, 0, 1);

  dt,
  dd {
    .p-top-question-item__inner {
      display: flex;
      align-items: center;
      column-gap: 1rem;
      padding: 1.5rem 2rem;
      padding-right: 6rem;

      @include sp {
        padding: 1.7rem 0 0.9rem;
        column-gap: 2rem;
        padding-right: 5rem;
      }
    }
    
    p {
      font-size: 1.7rem;
      font-weight: 500;
      line-height: calc(30 / 17);
      flex: 1;
      // margin-top: 0.2rem;


      @include sp {
        font-size: 1.6rem;
        line-height: calc(30 / 16);

      }
    }
  }

  dt {
    position: relative;

    // @include sp {}

    &::after {
      content: "";
      width: 1.1rem;
      height: 1.1rem;
      // margin-top: 1rem;
      position: absolute;
      top: 50%;
      right: 3rem;
      border-right: 0.1rem solid #000;
      border-bottom: 0.1rem solid #000;
      transform: translateY(-50%) rotate(45deg);
      transition: transform .4s;
      @include sp {
        right: 1.4rem;
      }
    }
  }
  
  &.is-open {
    dt {
      &::after {
        transform: rotate(225deg);
      }
    }
  }


  dd {
    display: none;
    background: rgba(203, 0, 0, 0.1);

    p {
      font-weight: 700;
      color: #CB0000;
    }

    .p-top-question-item__icon {
      background: #CB0000;
    }
  }

  &__icon {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background: #000;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    display: grid;
    place-content: center;
  }

}
.p-top-question-item:hover {
  opacity: 0.7;
  cursor: pointer;
}


