@use '../../foundation/variable' as *;
@use '../../foundation/mixin' as *;

.p-top-reason {
  padding-top: 6.4rem;
  padding-bottom: 9rem;

  @include sp {
    padding-top: 4.9rem;
    padding-bottom: 3.9rem;

  }
}

.p-top-reason-title {
  font-size: 3rem;
  font-weight: 700;
  line-height: calc(50 / 30);
  text-align: center;

  @include sp {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: calc(40 / 25);

  }
}

.p-top-reason__items {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
  margin-top: 3rem;

  @include sp {
    margin-top: 3.6rem;
    row-gap: 3.9rem;
  }
}


.p-top-reason__item {
  display: flex;
  column-gap: 5rem;
  position: relative;

  @include sp {
    display: flex;
    flex-direction: column;
    // row-gap: 3rem;
    // column-gap: 0;
  }
}


.p-top-reason-item__image {
  // width: 100%;
  width: 35rem;
  aspect-ratio: 350 / 247;
  overflow: hidden;
  //   margin-top: 3rem;
  //   // padding-top: 3rem;

  @include sp {
    width: 33.5rem;
    aspect-ratio: 335 / 200;

    //     margin-top: 3.6rem;
    //     // padding-top: 3.6rem;
  }
}


img {
  width: 100%;
  height: auto;
  display: block;
}

.p-top-reason-item__textarea {
  flex: 1;
  margin-top: 0.5rem;

  @include sp {
    margin-top: 3rem;
  }

  h3 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: calc(33 / 22);

    @include sp {
      font-size: 2rem;
      line-height: calc(30 / 20);
      border-bottom: 0.2rem solid #CB0000;
      padding-bottom: 0.8rem;

    }
  }

  &::after {
    content: "";
    position: absolute;
    // left: 0;
    bottom: 79%;
    width: 53.2rem;
    height: 0.2rem;
    background-color: #CB0000;
    left: 70%;
    transform: translateX(-50%);

    @include sp {
      display: none;
      // margin-top: 3rem;
    }
  }
}


.p-top-reason__com {
  margin-top: 5rem;

  @include sp {
    margin-top: 2.7rem;
  }
}

// .p-top-reason-lesson h3 {
//   @include sp {
//     border-bottom: 0.2rem solid #CB0000;
//     padding-bottom: 1rem;
//   }
// }

 .p-top-reason__com {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: calc(33 / 18);
//   margin-top: 4.9rem;

  @include sp {
    margin-top: 1.7rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: calc(30 / 16);

  }


}
