
@use '../foundation/variable' as *;
@use '../foundation/mixin' as *;


.l-header {
  width: 100%;
  height: 8rem;
  background: #F5F5F5;
  display: flex;
}
.l-header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.l-header__title a {
  display: flex;
  align-items: center;
}
.l-header__logo {
  width: 3.203rem;
}
.l-header__right {
  display: flex;
}
.l-header-nav {
  display: flex;
}





