@use '../foundation/variable' as *;
@use '../foundation/mixin' as *;


.l-header {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 1000;
  height: 8rem;
  width: 100%;
  background: #F5F5F5;


  @include sp {
    display: flex;
    height: 50px;

  }

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    @include sp {
      padding-left: 2rem;
      display: flex;
      align-items: center;
    }
  }

  &__title a {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 3.203rem;

    @include sp {
      width: 20.3px;
    }
  }

  &__name-main {
    font-size: 2rem;
    // font-size: min(vw(20,940),20px);
    font-weight: 700;
    line-height: calc(23 / 20);

    @include sp {
      font-size: 13px;
      line-height: calc(14 / 13);
    }
  }

  &__name {
    margin-top: 1.8rem;
    margin-bottom: 1.4rem;
    line-height: 1.25;

    @include sp {
      margin-top: 18.06px;
      margin-bottom: 17.94px;
    }
  }

  &__name-sub {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: calc(23 / 15);

    @include sp {
      font-size: 13px;
      line-height: calc(14 / 13);
    }

  }

}

.hamburger {
  position: absolute;
  top: 0;
  right: 0;

  width: 72px;
  height: 50px;
  background-color: #CB0000;
  cursor: pointer;

  z-index: 9999;
}


.hamburger span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 32px;
  height: 4px;
  border-radius: 2px;
  background-color: #FFFFFF;
  transition: transform .4s, opacity .4s;
  // transition: transform .4s;
}

.hamburger span:nth-of-type(1) {
  top: 11px;
}

.hamburger span:nth-of-type(2) {
  top: 23px;
}

.hamburger span:nth-of-type(3) {
  top: 35.19px;
}

.hamburger.is-open span:nth-of-type(1) {
  top: 24px;
  transform: translateX(-50%) rotate(45deg);
}

.hamburger.is-open span:nth-of-type(2) {
  opacity: 0;
}

.hamburger.is-open span:nth-of-type(3) {
  top: 24px;
  transform: translateX(-50%) rotate(-45deg);

}



.l-header-nav {
  display: none;
  /* ← 最初は閉じておく */

  @include sp {
    // align-items: initial;
    position: fixed;
    top: 5rem; // headerの下
    right: -100%;
    width: 30rem;
    background: #CB0000;
    flex-direction: column;
    transition: right 0.6s;
    z-index: 9998;
    display: none; // ← SPでは閉じる
  }

  @include pc {
    display: flex; // ← PCでは常に表示
  }

  &.is-open {
    right: 0;
    display: block;
  }

}


.l-header__right {
  align-items: center;
  column-gap: 1.25rem;
  display: flex;
}


.l-header-nav li {
  // padding: 1.65rem;
  padding: 1.5rem 2rem 1rem;
}

.l-header-nav li a {
  font-weight: 700;
  font-size: 1.7rem;
  line-height: calc(33 / 17);

  @include sp {
    font-size: 1.8rem;
    line-height: calc(33 / 18);

  }
}

// ナビの下線
.l-header-nav-link {
  position: relative;
  text-decoration: none;
  color: #000;
  @include sp {
     color: #fff;
 
  }
  
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.001rem;
    width: 100%;
    height: 0.2rem;
    background: #000;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;

    @include sp {
      display: none;
    }
  }

  &:hover::after {
    transform: scaleX(1);

    @include sp {
      display: none;
    }
  }

  &:active::after,
  &:focus-visible::after {
    transform: scaleX(1);
    transition: transform 0.2s ease;
  }
}

.l-header-nav-link:focus {
  outline: none;
}