@use '../foundation/variable' as *;
@use '../foundation/mixin' as *;


.l-header {
  width: 100%;
  height: 8rem;
  background: #F5F5F5;
  display: flex;

  @include sp {
    height: 5rem;
    padding-left: 2rem;
  }
}

.l-header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.l-header__title a {
  display: flex;
  align-items: center;
}

.l-header__logo {
  width: 3.203rem;

  @include sp {
    width: 2.03rem;
  }
}

// .header__hb-btn {
//   position: absolute;
//   top: 0;
//   right: 0;

//   width: 7rem;
//   height: 5rem;
//   background: #CB0000;
  
// }

// .header__hb-btn span {
//   position: absolute;
//   left: 50%;
//   transform: translateX(-50%);

//   width: 3.272rem;
//   height: 0.4rem;
//   background: #FFFFFF;
//   border-radius: 2px;
//   justify-content: center;
//   z-index: 9999;
// }
.hamburger {
  position: absolute;
  top: 0;
  right: 0;

  width: 72px;
  height: 50px;
  background-color: #CB0000;
  cursor: pointer;

  z-index: 9999;
}


.hamburger span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 32px;
  height: 4px;
  border-radius: 2px;
  background-color: #FFFFFF;
  transition: transform .4s;
}

.hamburger span:nth-of-type(1) {
  top: 9.5px;
}

.hamburger span:nth-of-type(2) {
  top: 23px;
}

.hamburger span:nth-of-type(3) {
  top: 36.5px;
}






.l-header__right {
  display: flex;
}

.l-header-nav {
  display: flex;
}

.l-header__name {
  margin-top: 1.8rem;
  margin-bottom: 1.4rem;

  @include sp {
    margin-top: 0.989rem;
    margin-bottom: 0.882rem;

  }
}

.l-header__name-main {
  font-size: 2rem;
  // font-size: min(vw(20,940),20px);
  font-weight: 700;
  line-height: calc(23 / 20);

  @include sp {
    font-size: 1.3rem;
    line-height: calc(14 / 13);
  }
}

.l-header__name-sub {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: calc(23 / 15);

  @include sp {
    font-size: 1.3rem;
    line-height: calc(14 / 13);
  }

}

.l-header__right {
  align-items: center;
  column-gap: 1.65rem;
}

.l-header-nav li a {
  padding: 1.65rem;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: calc(23 / 17);

}


.l-header__contact {
  display: flex;
  width: 15rem;
  height: 4.5rem;
  background: #CB0000;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: calc(23 / 15);
  color: #FFFFFF;

}